.home-text {
  position: absolute;
  top: 355px;
  left: 208px;
  width: 862px;
  height: 292px;
  background: transparent url('../images/Hi\ there\,\ I’m\ Stanley..png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.home-subtext {
  position: absolute;
  top: 681px;
  left: 203px;
  width: 799px;
  height: 36px;
  background: transparent url('../images/Group\ 8.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.home-img {
  position: absolute;
  top: 202px;
  left: 1124px;
  width: 675px;
  height: 676px;
  background: transparent url('../images/Image\ 1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}