.client-pic {
  position: absolute;
  top: 112px;
  left: 92px;
  width: 719px;
  height: 1014px;
  background: transparent url('../images/jULIUS\ GROUP.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.client-title {
  position: absolute;
  top: 330px;
  left: 875px;
  width: 252px;
  height: 154px;
  background: transparent url('../images/Group\ 4.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.client-text {
  position: absolute;
  top: 569px;
  left: 875px;
  width: 862px;
  height: 292px;
  font: 35px Verdana;
  opacity: 1;
}